# Default values for packetgen.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
favoriteDrink: coffee
image:
  repository: akhilak/packetgen
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    cpu: 200m
    memory: 256Mi

network:
  #demo_artifacts_version=1.3.0
  #vfw_private_ip_0='192.168.10.3'
  #vfw_private_ip_1='192.168.20.2'
  #vfw_private_ip_2='10.10.100.3'
  #vpg_private_ip_0='192.168.10.2'
  #vpg_private_ip_1='10.0.100.2'
  #vsn_private_ip_0='192.168.20.3'
  #vsn_private_ip_1='10.10.100.4'
  #dcae_collector_ip='10.0.4.1'
  #dcae_collector_port='8081'
  #protected_net_gw='192.168.20.100'
  protectednetcidr: 192.168.20.0/24
  protectedprivatenetcidr: 192.168.10.0/24
  onapprivatenetcidr: "10.10.0.0/16"

# resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
